# Cleaning Data in Python

ðŸ‘‹ Welcome to your workspace! Here, you can write and run Python code and add text in [Markdown](https://www.markdownguide.org/basic-syntax/). Below, we've imported the datasets from the course _Cleaning Data in Python_ as DataFrames as well as the packages used in the course. This is your sandbox environment: analyze the course datasets further, take notes, or experiment with code!

In [1]:
%%capture
# Install fuzzywuzzy
!pip install fuzzywuzzy

In [3]:
# Importing course packages; you can add more too!
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import missingno as msno
import fuzzywuzzy
#import recordlinkage 

# Importing course datasets as DataFrames
ride_sharing = pd.read_csv('datasets/ride_sharing_new.csv', index_col = 'Unnamed: 0')
airlines = pd.read_csv('datasets/airlines_final.csv',  index_col = 'Unnamed: 0')
banking = pd.read_csv('datasets/banking_dirty.csv', index_col = 'Unnamed: 0')
restaurants = pd.read_csv('datasets/restaurants_L2.csv', index_col = 'Unnamed: 0')
restaurants_new = pd.read_csv('datasets/restaurants_L2_dirty.csv', index_col = 'Unnamed: 0')

ride_sharing.head() # Display the first five rows of this DataFrame

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male

### Don't know where to start?

Try completing these tasks:
- For each DataFrame, inspect the data types of each column and, where needed, clean and convert columns into the correct data type. You should also rename any columns to have more descriptive titles.
- Identify and remove all the duplicate rows in `ride_sharing`.
- Inspect the unique values of all the columns in `airlines` and clean any inconsistencies.
- For the `airlines` DataFrame, create a new column called `International` from `dest_region`, where values representing US regions map to `False` and all other regions map to `True`.
- The `banking` DataFrame contains out of date ages. Update the `Age` column using today's date and the `birth_date` column.
- Clean the `restaurants_new` DataFrame so that it better matches the categories in the `city` and `type` column of the `restaurants` DataFrame. Afterward, given typos in restaurant names, use record linkage to generate possible pairs of rows between `restaurants` and `restaurants_new` using criteria you think is best.

In [16]:
#For each DataFrame, inspect the data types of each column and, where needed, 
#clean and convert columns into the correct data type. You should also rename any columns to have more descriptive titles.

ride_sharing.dtypes
airlines.dtypes
banking.dtypes
restaurants.dtypes
restaurants_new.dtypes

name     object
addr     object
city     object
phone     int64
type     object
dtype: object

In [8]:
#Identify and remove all the duplicate rows in `ride_sharing`.

# Identifying duplicate rows
duplicate_rows = ride_sharing.duplicated()

# Counting the number of duplicate rows
num_duplicates = duplicate_rows.sum()
print("Number of duplicate rows: ", num_duplicates)

# Dropping duplicate rows
ride_sharing_cleaned = ride_sharing.drop_duplicates()

# Verifying the result
print("Shape of the original DataFrame: ", ride_sharing.shape)
print("Shape of the cleaned DataFrame: ", ride_sharing_cleaned.shape)

Number of duplicate rows:  4
Shape of the original DataFrame:  (25760, 9)
Shape of the cleaned DataFrame:  (25756, 9)

In [9]:
#Inspect the unique values of all the columns in `airlines` and clean any inconsistencies.
# Inspect unique values in each column
for column in airlines.columns:
    unique_values = airlines[column].unique()
    print(f"Unique values in column '{column}':")
    print(unique_values)
    print()

Unique values in column 'id':
[1351  373 2820 ... 2684 2549 2162]

Unique values in column 'day':
['Tuesday' 'Friday' 'Thursday' 'Wednesday' 'Saturday' 'Sunday' 'Monday']

Unique values in column 'airline':
['UNITED INTL' 'ALASKA' 'DELTA' 'SOUTHWEST' 'AMERICAN' 'JETBLUE'
 'AEROMEXICO' 'AIR CANADA' 'UNITED' 'INTERJET' 'TURKISH AIRLINES'
 'AIR FRANCE/KLM' 'HAWAIIAN AIR' 'COPA' 'WOW' 'KOREAN AIR' 'EMIRATES'
 'AVIANCA' 'AER LINGUS' 'CATHAY PACIFIC' 'BRITISH AIRWAYS'
 'PHILIPPINE AIRLINES' 'LUFTHANSA' 'QANTAS' 'FRONTIER' 'CHINA EASTERN'
 'EVA AIR' 'VIRGIN ATLANTIC' 'AIR NEW ZEALAND' 'SINGAPORE AIRLINES'
 'AIR CHINA' 'CHINA SOUTHERN' 'ANA ALL NIPPON']

Unique values in column 'destination':
['KANSAI' 'SAN JOSE DEL CABO' 'LOS ANGELES' 'MIAMI' 'NEWARK' 'LONG BEACH'
 'MEXICO CITY' 'TORONTO' 'PORTLAND' 'SAN DIEGO' 'BOSTON' 'SPOKANE'
 'GUADALAJARA' 'MINNEAPOLIS-ST. PAUL' 'NEW YORK-JFK' 'ISTANBUL'
 'BALTIMORE' 'LAS VEGAS' 'SHANGHAI' 'TOKYO-NARITA' 'PARIS-DE GAULLE'
 'HONOLULU' 'DALLAS-FT. WORTH' 'PANAMA CITY' 'PHOENIX' 'REYKJAVIK'
 'SAN ANTONIO' 'HONG KONG' 'SEOUL' 'DUBAI' "CHICAGO-O'HARE" 'INDIANAPOLIS'
 'SAN SALVADOR' 'SALT LAKE CITY' 'BEIJING' 'DUBLIN' 'WASHINGTON DC-DULLES'
 'LONDON HEATHROW' 'MANILA' 'RALEIGH-DURHAM' 'VANCOUVER' 'MUNICH'
 'NEW ORLEANS' 'FRANKFURT' 'SYDNEY' 'KAHULUI' 'AMSTERDAM' 'ATLANTA'
 'SEATTLE' 'DETROIT' 'SANTA BARBARA' 'PHILADELPHIA' 'DENVER' 'BAKERSFIELD'
 'AUSTIN' 'CALGARY' 'TAIPEI' 'ONTARIO (CALIF)' 'BURBANK' 'CHARLOTTE'
 'AUCKLAND' 'SINGAPORE' 'ORLANDO' 'NASHVILLE' 'WUHAN' 'HOUSTON-BUSH'
 'FT. LAUDERDALE' 'SANTA ANA' 'EUGENE' 'KANSAS CITY' 'QINGDAO'
 'PUERTO VALLARTA']

Unique values in column 'dest_region':
['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']

Unique values in column 'dest_size':
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

Unique values in column 'boarding_area':
['Gates 91-102' 'Gates 50-59' 'Gates 40-48' 'Gates 20-39' 'Gates 1-12'
 'Gates 70-90' 'Gates 60-69']

Unique values in column 'dept_time':
['2018-12-31' '2018-01-01']

Unique values in column 'wait_min':
[ 115.  135.   70.  190.  559.  140.   63.  215.  180.  540.  192.  107.
  155.  175.  100.  225.   60.  145.  210.  160.  604.  205.  510.  270.
  173.   92.  125.  120.  900.  150.  330.  110.  415.   76.  165.  122.
   90.   68.   15.   65.  300.   77.  185.   60.   81.  105.  170.  245.
  355.   85.  177.  130.   50.   32.  103.  240.  305.   75.  235.   95.
  112.  142.   85.  265.   97.  131.  514.   75.   98.  166.   65.  139.
  220.   53.  153.  123.  195.  335.  216.  247.   45.  250.  182.  119.
  295.   55.  362.  179.  260.  243.   89.   50.   65.   80.  385.  420.
  390.  152.  276.  515.  200.   82. 1365.  224.  350.  183.  607.   55.
  158.  231.  148.  230.  132.  485.  199.  585.  104.   87.  143.  213.
  334.   88.   80.  211.   62.   95.  207.   70.  685.  101.  113.  111.
  156.   96.  212.   30.  191.  100.  360.   85.   30.  365.  161.  127.
  109.  445.   58.   86.  259.  193.  167.   97.  218.   95.  274.  302.
  117.  315.   83.  705.  159.  202.  464.  162.   66.   63.   75.   95.
   93.  214.  121.  333.  134.  154.  380.  128.  367.   83.  108.  164.
  320.   98.  147.  505.   49.   79.  850.   91.   20.   84.  430.  255.
   90.  695.  285.  268.  299. 1210.   80.  124.  118.  289.   90.  475.
  600.  419.  126.  271.  400.  217.  286.  157.  450.  340.  280.  138.
   92.   70.  275.   25.   74.  930.  455.  136.  176.  116.  209.   71.
  151.  181.   64.  263.  325.   89.  102.  341.  610.  184.   72.   78.
  273.  137.  370.   20.  395.  375.  838.  172.  133.   73.   85.  246.
   60.  985.  644.   57.  342.   50.   72.  405.   15.   88.  227.   40.
   87.   56.  292.  425.  169.  345.  282.  168.  725.   94.  100.  650.
  595.  640.  219.   67.   62.   35.  187.  863.  163. 1035.   35.   65.
  291.   40.  290.   74.  146.  790.  730.  780.  242.  328.  229.  970.
  272.  307.  885.  296.   89.   91.   73.  353.  861.   93.   59.  208.
  141.  584.   78.  670.  580.  310.  194.  523.  277.  470.  223.  178.
  443.   92.]

Unique values in column 'cleanliness':
['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Dirty']

Unique values in column 'safety':
['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Unique values in column 'satisfaction':
['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

In [10]:
#For the `airlines` DataFrame, create a new column called `International` from `dest_region`, where values representing US regions map 
# to `False` and all other regions map to `True`.


# Create a mapping dictionary for the International column
mapping = {'US': False, 'EU': True, 'AS': True, 'SA': True, 'OC': True, 'AF': True}

# Create the International column using the map() function
airlines['International'] = airlines['dest_region'].map(mapping)

# Display the updated DataFrame
print(airlines)

        id        day        airline        destination    dest_region  \
0     1351    Tuesday    UNITED INTL             KANSAI           Asia
1      373     Friday         ALASKA  SAN JOSE DEL CABO  Canada/Mexico
2     2820   Thursday          DELTA        LOS ANGELES        West US
3     1157    Tuesday      SOUTHWEST        LOS ANGELES        West US
4     2992  Wednesday       AMERICAN              MIAMI        East US
...    ...        ...            ...                ...            ...
2804  1475    Tuesday         ALASKA       NEW YORK-JFK        East US
2805  2222   Thursday      SOUTHWEST            PHOENIX        West US
2806  2684     Friday         UNITED            ORLANDO        East US
2807  2549    Tuesday        JETBLUE         LONG BEACH        West US
2808  2162   Saturday  CHINA EASTERN            QINGDAO           Asia

     dest_size boarding_area   dept_time  wait_min     cleanliness  \
0          Hub  Gates 91-102  2018-12-31     115.0           Clean
1        Small   Gates 50-59  2018-12-31     135.0           Clean
2          Hub   Gates 40-48  2018-12-31      70.0         Average
3          Hub   Gates 20-39  2018-12-31     190.0           Clean
4          Hub   Gates 50-59  2018-12-31     559.0  Somewhat clean
...        ...           ...         ...       ...             ...
2804       Hub   Gates 50-59  2018-12-31     280.0  Somewhat clean
2805       Hub   Gates 20-39  2018-12-31     165.0           Clean
2806       Hub   Gates 70-90  2018-12-31      92.0           Clean
2807     Small    Gates 1-12  2018-12-31      95.0           Clean
2808     Large    Gates 1-12  2018-12-31     220.0           Clean

             safety        satisfaction International
0           Neutral      Very satisfied           NaN
1         Very safe      Very satisfied           NaN
2     Somewhat safe             Neutral           NaN
3         Very safe  Somewhat satsified           NaN
4         Very safe  Somewhat satsified           NaN
...             ...                 ...           ...
2804        Neutral  Somewhat satsified           NaN
2805      Very safe      Very satisfied           NaN
2806      Very safe      Very satisfied           NaN
2807  Somewhat safe      Very satisfied           NaN
2808      Very safe  Somewhat satsified           NaN

[2477 rows x 13 columns]

In [13]:
#The `banking` DataFrame contains out of date ages. Update the `Age` column using today's date and the `birth_date` column.

# Convert birth_date column to datetime type
banking['birth_date'] = pd.to_datetime(banking['birth_date'])

# Calculate the age based on today's date
today = pd.to_datetime('today')
banking['Age'] = (today - banking['birth_date']).astype('<m8[Y]')

# Display the updated DataFrame
print(banking)

     cust_id birth_date   Age  acct_amount  inv_amount   fund_A   fund_B  \
0   870A9281 1962-06-09  60.0     63523.31       51295  30105.0   4138.0
1   166B05B0 1962-12-16  60.0     38175.46       15050   4995.0    938.0
2   BFC13E88 1990-09-12  32.0     59863.77       24567  10323.0   4590.0
3   F2158F66 1985-11-03  37.0     84132.10       23712   3908.0    492.0
4   7A73F334 1990-05-17  33.0    120512.00       93230  12158.4  51281.0
..       ...        ...   ...          ...         ...      ...      ...
95  CA507BA1 1974-08-10  48.0     12209.84        7515    190.0    931.0
96  B99CD662 1989-12-12  33.0     92838.44       49089   2453.0   7892.0
97  13770971 1984-11-29  38.0     92750.87       27962   3352.0   7547.0
98  93E78DA3 1969-12-14  53.0     41942.23       29662   1758.0  11174.0
99  AC91D689 1993-05-18  30.0     99490.61       32149   2184.0  17918.0

     fund_C   fund_D account_opened last_transaction
0    1420.0  15632.0       02-09-18         22-02-19
1    6696.0   2421.0       28-02-19         31-10-18
2    8469.0   1185.0       25-04-18         02-04-18
3    6482.0  12830.0       07-11-17         08-11-18
4   13434.0  18383.0       14-05-18         19-07-18
..      ...      ...            ...              ...
95   1451.0   4943.0       26-05-18         11-09-19
96  31486.0   7258.0       04-05-17         12-03-19
97   8486.0   8577.0       16-08-17         24-04-19
98  11650.0   5080.0       09-10-17         15-04-18
99   6714.0   5333.0       01-08-17         04-08-19

[100 rows x 11 columns]

In [14]:
#Clean the `restaurants_new` DataFrame so that it better matches the categories in the `city` and `type` column of the
# `restaurants` DataFrame. Afterward, given typos in restaurant names, use record linkage to generate possible pairs of 
#rows between `restaurants` and `restaurants_new` using criteria you think is best.


from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Define the matching criteria
threshold = 80  # Adjust the threshold as needed

# Generate possible matching pairs
potential_matches = []
for idx, row in restaurants.iterrows():
    name = row['name']
    city = row['city']
    restaurant_matches = restaurants_new[(restaurants_new['name'].apply(lambda x: fuzz.token_set_ratio(x, name)) > threshold) &
                                         (restaurants_new['city'].apply(lambda x: fuzz.token_set_ratio(x, city)) > threshold)]
    for _, match in restaurant_matches.iterrows():
        potential_matches.append((idx, match.name))

# Display the potential matching pairs
for pair in potential_matches:
    print(f"Potential match: restaurants[{pair[0]}] - restaurants_new[{pair[1]}]")

/Users/italovega/opt/anaconda3/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Potential match: restaurants[0] - restaurants_new[40]
Potential match: restaurants[1] - restaurants_new[28]
Potential match: restaurants[2] - restaurants_new[74]
Potential match: restaurants[3] - restaurants_new[1]
Potential match: restaurants[4] - restaurants_new[53]
Potential match: restaurants[5] - restaurants_new[65]
Potential match: restaurants[6] - restaurants_new[73]
Potential match: restaurants[7] - restaurants_new[79]
Potential match: restaurants[8] - restaurants_new[43]
Potential match: restaurants[9] - restaurants_new[50]
Potential match: restaurants[10] - restaurants_new[75]
Potential match: restaurants[11] - restaurants_new[21]
Potential match: restaurants[12] - restaurants_new[26]
Potential match: restaurants[13] - restaurants_new[7]
Potential match: restaurants[14] - restaurants_new[67]
Potential match: restaurants[15] - restaurants_new[55]
Potential match: restaurants[16] - restaurants_new[57]
Potential match: restaurants[17] - restaurants_new[12]
Potential match: restaurants[18] - restaurants_new[71]
Potential match: restaurants[19] - restaurants_new[47]
Potential match: restaurants[20] - restaurants_new[20]
Potential match: restaurants[21] - restaurants_new[27]
Potential match: restaurants[80] - restaurants_new[40]
Potential match: restaurants[83] - restaurants_new[13]