# Customer list

- How many customers were there for each approach?
- What does the spread of the revenue look like overall? And for each method?
- Was there any difference in revenue over time for each of the methods?
- Based on the data, which method would you recommend we continue to use? Some
of these methods take more time from the team so they may not be the best for us to use if the results are similar.

We donâ€™t really know if there are other differences between the customers in each group, so anything you can tell us would be really helpful to give some context to what went well.
I need to report to the executive team in 4 weeks. You need to present to me before then so I understand what is going on and what we do next.
Look forward to seeing your presentation.

In [2]:
#https://s3.amazonaws.com/talent-assets.datacamp.com/product_sales.csv

import pandas as pd 
import matplotlib.pylab as plt
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv("https://s3.amazonaws.com/talent-assets.datacamp.com/product_sales.csv", delimiter=",")
df.head()
#print(df.shape)
#df.columns

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10,NaN,0,24,Arizona
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9,90.49,0,28,Illinois

In [12]:
df.to_csv("product_sales.csv", index=False)

In [4]:
df.describe(include="O")

       sales_method                           customer_id       state
count         15000                                 15000       15000
unique            5                                 15000          50
top           Email  2e72d641-95ac-497b-bbf8-4861764a7097  California
freq           7456                                     1        1872

In [8]:
print(df["sales_method"].unique())
print("\n")
print(df["state"].unique())

['Email' 'Email + Call' 'Call' 'em + call' 'email']


['Arizona' 'Kansas' 'Wisconsin' 'Indiana' 'Illinois' 'Mississippi'
 'Georgia' 'Oklahoma' 'Massachusetts' 'Missouri' 'Texas' 'New York'
 'Maryland' 'California' 'Tennessee' 'Pennsylvania' 'North Dakota'
 'Florida' 'Michigan' 'North Carolina' 'Hawaii' 'Colorado' 'Louisiana'
 'Virginia' 'New Mexico' 'Arkansas' 'Alaska' 'Oregon' 'New Hampshire'
 'Ohio' 'New Jersey' 'Connecticut' 'Iowa' 'Montana' 'Washington'
 'Kentucky' 'Alabama' 'Nebraska' 'South Carolina' 'Minnesota'
 'South Dakota' 'Delaware' 'Maine' 'Utah' 'West Virginia' 'Vermont'
 'Rhode Island' 'Nevada' 'Idaho' 'Wyoming']

In [9]:
df.isna().sum()

week                    0
sales_method            0
customer_id             0
nb_sold                 0
revenue              1074
years_as_customer       0
nb_site_visits          0
state                   0
dtype: int64

In [10]:
df.dtypes

week                   int64
sales_method          object
customer_id           object
nb_sold                int64
revenue              float64
years_as_customer      int64
nb_site_visits         int64
state                 object
dtype: object

In [11]:
df.shape

(15000, 8)

In [ ]:
#customer_id